.container {
  &__title {
    background-color: #f9f9f9;
    padding: 1.2rem;
  }

  &__menu {
    padding: 1.5rem 2rem;

    button {
      background-color: #fff;
      cursor: pointer;
      border: none;
      padding: 0 .5rem;
      min-width: 4rem;
      height: 2.3rem;
    }

    button:hover,
    button:active {
      background-color: #f9f9f9;
      border-radius: 4px;
      font-weight: 500;
    }
  }
}